/*------------------------------------*\
  Components > Widget
\*------------------------------------*/

.c-widget {
  padding: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);
  border: 1px solid $color-border;

  &__title {
    padding-bottom: $base-spacing-unit;
    margin-bottom: double($base-spacing-unit);
    border-bottom: 1px solid $color-border;
    line-height: initial;
    letter-spacing: 2px;
    font-size: $font-size-small;
    text-transform: uppercase;
  }
}

.c-widget-long {
  background: linear-gradient(
90deg,#d31027,#ea384d);
    border-radius: 4px;
    padding: 0 30px;
    margin: 20px 0;
}

.c-widget-long-inner {
  padding: 10px 0;
    color: #fff;
    line-height: 38px;
    margin: 0;
    font-size: 22px;
    font-weight: 300;
}

.c-widget-long__button {
  border: 2px solid rgba(255,255,255,.8);
  border-radius: 60px;
  text-transform: uppercase;
  padding: 10px 30px 10px 34px;
  font-weight: 700;
  color: rgba(255,255,255,.85) !important;
  margin-top: 25px;
  float: right;
}