---
layout: default
---

{% include head.html %}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--2-3-m'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <div class='c-content'>
          {{ content }}
        </div>

        <div class='c-tags'>
        </div>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--full'>
          </div>
        </div>

        <hr>


        <hr>


      </article>

    </div>

    <div class='o-grid__col o-grid__col--1-3-m'>
      {% include sidebar.html %}
    </div>
  </div>

</div>